############################
# macOS
############################
.DS_Store

############################
# IDE
############################
.vscode/
.idea/

############################
# Logs
############################
*.log

############################
# Database files (НЕ храним базы!)
############################
*.sqlite
*.sqlite3
*.db
*.db-journal
*.sqlitedb

############################
# MySQL dumps (если это временные)
############################
*.sql.bak
*.dump

############################
# PostgreSQL
############################
pgdata/
*.backup

############################
# SQL Server
############################
*.mdf
*.ldf
*.ndf

############################
# Docker volumes
############################
docker-data/
docker-volumes/

############################
# Temporary files
############################
*.tmp
*.swp
*.cache

############################
# Environment variables
############################
.env
.env.*
